
{% extends 'base.html' %}

{% block body %}
  <style>
    li {
      list-style: none;
    }
  </style>

  <div class="container">

    {% if object %}
      <h3 class="text-center">{{ object }}</h3>
      <br />
    {% endif %}

    <div class="row">

      <div class="col-6">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          {# If object doesn't exist, we're creating a new object. If it does exist, we're updating an existing object #}
          {% if not object %}
            <input type="submit" value="Save" class="btn btn-success btn-sm">
            <a href="{% url 'bcplatform:homepage' %}"><button type="button" class="btn btn-secondary btn-sm">Cancel </button></a>
          {% else %}
            <input type="submit" value="Update" class="btn btn-success btn-sm">
            <a href="{% url 'bcplatform:blockchain_detail_view' object.pk %}"><button type="button" class="btn btn-secondary btn-sm">Cancel </button></a>
          {% endif %}

        </form>
      </div>

      <div class="col-6">
      </div>
    </div>

  </div>

{% endblock %}
