
{% extends 'base.html' %}

{% block body %}

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'bcplatform/css/style.css' %}">

  <div class="container">

    <h3 class="text-center">{{ bc }}</h3>
    <br />

    {% if bc.admin == request.user.blockchainuser %}
      <a href="{% url 'bcplatform:blockchain_update_view' bc.pk %}"><button type="button" class="btn btn-primary btn-sm">Update Blockchain</button></a>
      <a href="{% url 'bcplatform:blockchain_delete_view' bc.pk %}"><button type="button" class="btn btn-danger btn-sm">Delete Blockchain</button></a>
      <br />
    {% endif %}
    <br />
    <a href="{% url 'bcplatform:blockchain_corrupt_form_view' bc.pk %}"><button type="button" class="btn btn-warning btn-sm">Corrupt Blockchain</button></a>

    <br />
    <br />
    <div class="row">
      <div class="col-6 top-table-container">
        {% include 'bcplatform/snippets/members_table_snippet.html' %}
      </div>

      {% comment %}
      {# Uncomment this block to render a list of DuplicateBlockchains #}
      <div class="col-6">
        {% with table_title="Duplicate Blockchains" blockchains=bc_duplicates %}
          {% include 'bcplatform/snippets/blockchain_list_table_snippet.html' %}
        {% endwith %}
      </div>
      {% endcomment %}

      <div class="col-12 bottom-table-container">
        <a href="{% url 'bcplatform:block_create_view' bc.pk %}"><button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 20px;">Add Data</button></a>
        {% include 'bcplatform/snippets/blockchain_table_snippet.html' %}
        <!--<a href="{% url 'bcplatform:block_create_view' bc.pk %}"><button type="button" class="btn btn-primary btn-sm">Add Data</button></a>-->
      </div>
    </div>

    <script>
      var CONFIG = {
        blockchains: {
          {{ bc.pk }}: {
            numBlocks: {{ bc_blocks | length }}
          },
        },
      };
    </script>

  </div>

{% endblock %}
