
{% load static %}

<script>
  var CONFIG = {
    numBlocks: {{ bc_blocks | length }},
  };
</script>

<script src="{% static 'bcplatform/js/colorHashes.js' %}"></script>

<table class="table table-striped table-bordered" id="blocks-table">
  <thead>
    <tr>
      <th scope="col">Block #</th>
      <th scope="col">Block Data</th>
    </tr>
  </thead>
  <tbody>
    {% for block in bc_blocks reversed %}
      <tr>
        <th scope="row">{{ block.index }}</th>
        <td>
          <!-- Nested Table for single Block-->
          {% include 'bcplatform/block_table_snippet.html' %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>