
{% extends 'bcplatform/base.html' %}

{% block body %}

  <div class="container">

    <h3 class="text-center">{{ bc }}</h3>
    <br />

    {% if bc.admin == request.user.blockchainuser %}
      <a href="{% url 'bcplatform:blockchain_update_view' bc.pk %}"><button type="button" class="btn btn-primary btn-sm">Update Blockchain</button></a>
      <a href="{% url 'bcplatform:blockchain_delete_view' bc.pk %}"><button type="button" class="btn btn-danger btn-sm">Delete Blockchain</button></a>
      <br />
    {% endif %}

    <br />
    <div class="row">
      <div class="col-6">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Blockchain Members</th>
          </tr>
          </thead>
          <tbody>
            {% for member in bc_members %}
              <tr>
                <td>{{ member }}</td>
              </tr>
            {% empty %}
              <tr>
                <td>No Blockchain Members</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Blockchain Blocks</th>
          </tr>
          </thead>
          <tbody>
            {% for block in bc_blocks %}
              <tr>
                <td>{{ block }}</td>
              </tr>
            {% empty %}
              <tr>
                <td>No Blocks in Blockchain</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

{% endblock %}
