
{% extends 'bcplatform/base.html' %}

{% block body %}

  <div class="container">
    <div class="row">

      <div class="col-6">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">My Blockchains</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>Blockchain name link goes here</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-6">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Other Blockchains</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>Blockchain name link goes here</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

{% endblock %}
