
{% extends 'base.html' %}

{% block body %}

  <div class="container">

    <h3 class="text-center">Blockchain Platform Homepage</h3>
    <br />

    <div class="row">

      <div class="col-6">
        {% with table_title="My Blockchains" blockchains=own_blockchains %}
          {% include 'bcplatform/snippets/blockchain_list_table_snippet.html' %}
        {% endwith %}
        <a href="{% url 'bcplatform:blockchain_create' %}"><button type="button" class="btn btn-primary">Create Blockchain</button></a>
      </div>

      <div class="col-6">
        {% with table_title="Other Blockchains" blockchains=other_blockchains %}
          {% include 'bcplatform/snippets/blockchain_list_table_snippet.html' %}
        {% endwith %}
      </div>
    </div>

  </div>

{% endblock %}
